.description {
  padding: 0;
  list-style: none;
  width: 300px;
  display: block;
  margin: auto;
  background-color: white;
}
.description ul {
  display: flex;
  padding: 0;
}
.description li {
  width: 20%;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  align-items: center;
  color: white;
}
.title {
  padding-top: 20px;
  text-align: center;
}
